body {
	margin: 0;
}
a {
	color: #999;
	text-decoration: none;
}
hr {
	border: none 0;
	border-top: 1px solid #EEE;
	height: 1px;
}
h2, h6 {
	font-weight: 100;
}
.wrapper {
}
.greeting {
	padding: 0px 20px;
	width: 200px;
	float: left;
}
.greeting h1 {
	color: #000;
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-bottom: 1px;
}
.content {
	float: left;
	width: 70%;
	padding: 20px;
}
.content p {
	line-height: 1.5em;
}
#posts h3 {
	font-weight: 100;
	font-size: 90%;
}
#posts h3 small {
	width: 100px !important;
	font-size: 80%;
	float: left;
}
