<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

		<div class="wrapper">
			<div class="greeting">
				<h1><a href="/">Hello,<br/> I'm Wally.</a></h1>
				<hr>
				<a href="https://twitter.com/imwally"><img src="https://cdn1.iconfinder.com/data/icons/simple-icons/32/twitter-32-black.png"></a>&nbsp;
				<a href="https://github.com/imwally"><img src="https://cdn1.iconfinder.com/data/icons/simple-icons/32/github-32-black.png"></a>&nbsp;
				<a href="/rss.xml"><img src="https://cdn1.iconfinder.com/data/icons/simple-icons/32/rss-32-black.png"></a>&nbsp;
			</div>

			<div class="content">
				{{ content }}
			</div>
		</div>
	</body>
</html>
